/*********************************/
/********** Typography ***********/
/*********************************/




/*********************************/
/*********** Buttons *************/
/*********************************/





/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}

.close {
	position: absolute;
}


/*********************************/
/*********** Modules *************/
/*********************************/
.click-icon {
	cursor: pointer;
}

html, body {
	height: 100%;
}

#my_video {
    min-width: 100%; min-height: 100%; width: auto; height: auto;
    position: fixed; top: 50%; left: 50%;
	background: url('../video/workaholic.jpg') no-repeat; background-size: cover;

	transform: translateX(-50%) translateY(-50%);
	filter: grayscale(100%);

	&.active {filter: grayscale(0);}
}

.app {
	position: relative; min-width: 320px; max-width: 100%; width: 100%; height: 100%;
	overflow: hidden;

	&.active {cursor: url('../img/pause.png'), auto;}
	&.show_mobile {
		overflow: visible;
		section {
			z-index: 2 !important; opacity: 1 !important; transform: translate3d(0, 0, 0) !important; position: relative !important;
			.close {display: none;}
		}
	}

	h1 {
		color: #fff; text-transform: uppercase; font-size: 58px;
		position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
	}
}

.navigation {
	ul li a {transition: all 1s;}
	&.active {ul li a {transform: translate3d(0, 0, 0);}}

	ul {@include respond-to(sm) {display: none;}}

	a.mobile_menu {
		position: absolute; top: 10px; left: 50%; transform: translateX(-50%); 
		display: none;
		@include respond-to(sm) {display: block;}
	}
}

.link {
	text-transform: uppercase; color: #fff; font-size: 14px;
	position: absolute;

	&.l-serv {
		left: 20px; top: 50%;
		transform: translate3d(-200%, 0, 0);
	}

	&.l-about {
		left: 0; top: 20px; display: inline-block; width: 100%; text-align: center;
		transform: translate3d(0, -200%, 0);
	}

	&.l-contact {
		right: 20px; top: 50%;
		transform: translate3d(200%, 0, 0);
	}

	&.l-clients {
		left: 0; bottom: 20px; display: inline-block; width: 100%; text-align: center;
		transform: translate3d(0, 200%, 0);
	}
}

section {
	color: #fff;
	padding: 50px; box-sizing: border-box; opacity: 0;
	position: absolute; z-index: -1;
	background: #000;

	&.service, &.contact {width: 50%; height: 100%;}
	&.about, &.clients {width: 100%; height: 50%;}

	transition: all .4s;
	&.active {z-index: 2 !important; opacity: 1 !important; transform: translate3d(0, 0, 0) !important;}


	h2 {font-size: 14px; text-transform: uppercase;}

	.close {@include respond-to(md) {text-align: center; top: 25px; right: 0; display: inline-block; width: 100%; height: 20px;}}
}

//ABOUT 
section.about {
	top: 0; left: 0;
	@include respond-to(md) {height: 100%; padding: 100px 20px 20px 20px;}

	display: flex; flex-direction: column; justify-content: space-between;
	@include respond-to(md) {justify-content: flex-start;}

	transform: translate3d(0, -100%, 0);


	.close {bottom: -50%; right: 25%;}

	h2 {@include respond-to(md) {margin-bottom: 40px;}}

	& > div {
		display: flex; align-items: center; justify-content: space-between;
		@include respond-to(md) {flex-direction: column; align-items: flex-start;}

		& > p {
			line-height: 20px;
			width: 35%; padding-right: 50px;
			@include respond-to(md) {margin-bottom: 40px; width: 100%;}
			@include respond-to(sm) {padding-right: 0;}
		}

		.worker {
			display: flex; align-items: flex-start;

			& > figure {margin-right: 20px;}

			& > section {
				text-transform: uppercase;
				p {opacity: 0.5;}
				@include respond-to(md) {margin: 10px 0;}
			}
		}

	}

}

//SERVICES
section.service {
	top: 0; left: 0;
	@include respond-to(md) {width: 100%; padding: 100px 20px 20px 20px;}

	display: flex; flex-direction: column; justify-content: space-between;

	transform: translate3d(-100%, 0, 0);


	.close {right: -25%; top: 25%;}

	&-wrap {}

	&-list {
		margin-top: 40px;
		&:first-child {margin-top: 0;}

		h4 {
			text-transform: uppercase;
			margin-bottom: 20px;

			span {
				margin-left: 20px;
				opacity: 0.5; 
			}
		}

		p {margin-bottom: 0;}
		
	}
}

//CONTACTS
section.contact {
	top: 0; right: 0;
	@include respond-to(md) {width: 100%; padding: 100px 20px 20px 20px;}

	display: flex; flex-direction: column; justify-content: space-between;

	transform: translate3d(100%, 0, 0);



	.close {
		left: -25%; top: 25%;
		@include respond-to(md) {left: 0;}
	}

	h2, .location {
		text-align: right;
		@include respond-to(md) {text-align: left;}
	}

	h2 {
		margin-bottom: 60px;
		@include respond-to(md) {margin-bottom: 20px;}
	}
	.location {
		@include respond-to(md) {margin-bottom: 40px;}
		p {
			margin-bottom: 0;
		}

		address {
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		.cont {
			a {color: #fff;}
		}
	}

	form {
		.send-top {
			display: flex; justify-content: space-between;
			@include respond-to(md) {flex-direction: column;}
		}

		input, textarea {
			color: #fff; opacity: 0.5;
			background: transparent; border: none; border-bottom: 1px solid #4d4d4d;

			&[placeholder] {color: #fff; opacity: 0.5;}
		}

		input {
			width: calc(50% - 20px); margin-bottom: 60px;
			@include respond-to(md) {width: 100%; margin-bottom: 20px;}
		}

		textarea {
			width: 100%; height: 140px;
			border-width: 2px;
			@include respond-to(md) {
				height: 80px;
			}
		}

		button {
			text-transform: uppercase; color: #fff;
			float: right; padding: 0; margin-top: 40px;
			background: transparent; border: none; opacity: 0.5;
		}
	}
}

//CLIENT
section.clients {
	bottom: 0; right: 0;
	@include respond-to(md) {height: 100%; padding: 100px 20px 20px 20px;}

	display: flex; justify-content: space-between;
	@include respond-to(md) {flex-direction: column;}

	transform: translate3d(0, 100%, 0);


	
	.client-list {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
	.close {
		top: -25%; left: 25%;
		@include respond-to(md) {left: 0;}
	}

	h2 {width: 40%;}

	.client-list {
		padding-left: 50px;
		@include respond-to(md) {padding-left: 0;}

		figure {
			text-align: center;
			width: 150px; margin: 20px 0;
			@include respond-to(md) {width: 120px;}
		}
	}
}
