/*********************************/
/********** Typography ***********/
/*********************************/




/*********************************/
/*********** Buttons *************/
/*********************************/





/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}

.close {
	position: absolute;
}


/*********************************/
/*********** Modules *************/
/*********************************/
.click-icon {
	cursor: pointer;
}

.app {

	& > section {
		box-sizing: border-box;
		background: #000; color: #fff;

		.close {@include respond-to(md) {text-align: center; top: 25px; right: 0; display: inline-block; width: 100%; height: 20px;}}
	}

	.link {
		text-transform: uppercase; color: #fff; font-size: 14px;
		position: absolute;

		&.l-serv {
			left: 20px; top: 50%;
		}

		&.l-about {
			left: 0; top: 20px; display: inline-block; width: 100%; text-align: center;
		}

		&.l-contact {
			right: 20px; top: 50%;
		}

		&.l-clients {
			left: 0; bottom: 20px; display: inline-block; width: 100%; text-align: center;
		}
	}
	h1 {
		color: #fff; text-transform: uppercase; font-size: 58px;
		width: 465px; height: 90px; position: absolute; top: 50%; margin-top: -45px; left: 50%; margin-left: -232px;
	}

	h2 {font-size: 14px; text-transform: uppercase;}
}

//ABOUT 
.about {
	display: flex; flex-direction: column; justify-content: space-between;
	@include respond-to(md) {justify-content: flex-start;}
	& > div {
		display: flex; align-items: center; justify-content: space-between;
		@include respond-to(md) {flex-direction: column; align-items: flex-start;}

		.worker {display: flex; align-items: flex-start;}
	}
	
	height: 50%; width: 100%; position: relative; z-index: 2; padding: 50px;
	@include respond-to(md) {height: 100%; padding: 100px 20px 20px 20px;}
	
	.close {
		bottom: -50%; right: 25%;
	}

	h2 {
		@include respond-to(md) {margin-bottom: 40px;}
	}

	& > div {
		& > p {
			line-height: 20px;
			width: 35%; padding-right: 50px;
			@include respond-to(md) {margin-bottom: 40px; width: 100%;}
		}

		.worker {
			& > figure {margin-right: 20px;}

			& > section {
				text-transform: uppercase;
				p {opacity: 0.5;}
				@include respond-to(md) {margin: 10px 0;}
			}
		}

	}

}

//SERVICES
.service {
	display: flex; flex-direction: column; justify-content: space-between;

	width: 50%; height: 100%; padding: 50px; position: relative; z-index: 2;
	@include respond-to(md) {width: 100%; padding: 100px 20px 20px 20px;}

	.close {right: -25%; top: 25%;}

	&-wrap {}

	&-list {
		margin-top: 40px;
		&:first-child {margin-top: 0;}

		h4 {
			text-transform: uppercase;
			margin-bottom: 20px;

			span {
				margin-left: 20px;
				opacity: 0.5; 
			}
		}

		p {margin-bottom: 0;}
		
	}
}

//CONTACTS
.contact {
	display: flex; flex-direction: column; justify-content: space-between;

	position: absolute; padding: 50px; width: 50%; height: 100%; top: 0; right: 0;  z-index: 2;
	@include respond-to(md) {width: 100%; padding: 100px 20px 20px 20px;}

	.close {
		left: -25%; top: 25%;
		@include respond-to(md) {left: 0;}
	}

	h2, .location {
		text-align: right;
		@include respond-to(md) {text-align: left;}
	}

	h2 {
		margin-bottom: 60px;
		@include respond-to(md) {margin-bottom: 20px;}
	}
	.location {
		@include respond-to(md) {margin-bottom: 40px;}
		p {
			margin-bottom: 0;
		}

		address {
			text-transform: uppercase;
			margin-bottom: 30px;
		}

		.cont {
			a {color: #fff;}
		}
	}

	form {
		.send-top {
			display: flex; justify-content: space-between;
			@include respond-to(md) {flex-direction: column;}
		}

		input, textarea {
			color: #fff; opacity: 0.5;
			background: transparent; border: none; border-bottom: 1px solid #4d4d4d;

			&[placeholder] {color: #fff; opacity: 0.5;}
		}

		input {
			width: calc(50% - 20px); margin-bottom: 60px;
			@include respond-to(md) {width: 100%; margin-bottom: 20px;}
		}

		textarea {
			width: 100%; height: 140px;
			border-width: 2px;
			@include respond-to(md) {
				height: 80px;
			}
		}

		button {
			text-transform: uppercase; color: #fff;
			float: right; padding: 0; margin-top: 40px;
			background: transparent; border: none; opacity: 0.5;
		}
	}
}

//CLIENT
.client {
	display: flex; justify-content: space-between;
	@include respond-to(md) {flex-direction: column;}

	position: absolute; padding: 50px; width: 100%; height: 50%; bottom: 0; right: 0;  z-index: 2;
	@include respond-to(md) {height: 100%; padding: 100px 20px 20px 20px;}
	
	.client-list {display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
	.close {
		top: -25%; left: 25%;
		@include respond-to(md) {left: 0;}
	}

	h2 {width: 40%;}

	.client-list {
		padding-left: 50px;
		@include respond-to(md) {padding-left: 0; margin-top: 30px;}

		figure {
			text-align: center;
			width: 150px; margin: 20px 0;
			@include respond-to(md) {width: 120px;}
		}
	}
}
