/***********************/
/******** Fonts ********/
/***********************/

// Aileron-Bold
$Aileron: 'Aileron-Bold', sans-serif;

//ArchivoBlack-Regular
$ArchivoB: 'ArchivoBlack-Regular', sans-serif;

//BluuNext-Bold
$BluuN: 'BluuNext-Bold', sans-serif;